<% provide(:title, 'Home') %>

	<div class="center hero-unit">
  		<h1>Welcome to the Calendar App</h1>
		<h2>
		    This is the home page for Arco, Inc.'s Calendar Application.
		</h2>
		<%= link_to "Sign up now!", '/signup', class: "btn btn-large btn-primary" %>
	</div>