<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "calendar app", '#', id: "logo" %>
				<nav>
					<ul class="nav pull-right">
						<li><%= link_to "Home",    root_path %></li>
						<li><%= link_to "Calendar",   calendar_path %></li>
						<li><%= link_to "New Task", '#' %>
				
					</ul>
				</nav>
		</div>
	</div>
</header>